[submodule "plugins/firfilt"]
	path = plugins/firfilt
	url = https://github.com/widmann/firfilt.git
[submodule "plugins/MEF_import"]
	path = plugins/MEF_import1.19
	url = https://github.com/jiecui/MEF_import
[submodule "plugins/bids-matlab-tools"]
	path = plugins/bids-matlab-tools2.2
	url = https://github.com/sccn/bids-matlab-tools
