# ignore everything in plugin folders, but keep track of plugin submodules 
derivative
*.asv
/plugins/**
!/plugins/clean_rawdata
!/plugins/dipfit
!/plugins/firfilt
!/plugins/ICLabel
.DS_Store
.Spotlight*

# ignore temp file
*~

##---------------------------------------------------
## MatLab 
## We have git for backups!
##---------------------------------------------------
# Data file
*.mat

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
.autosave

