[submodule "plugins/firfilt"]
	path = plugins/firfilt
	url = https://github.com/widmann/firfilt.git
[submodule "plugins/bids-matlab-tools"]
	path = plugins/bids-matlab-tools2.2
	url = https://github.com/sccn/bids-matlab-tools
